@import "variables.less";
@import "mixins.less";

/* normalize.css */
@import "normalize.less";

html, body{height: 100%;}

*{.boxsizing;}

body {
	background: @light;
	font-family: @text;
	font-size: 14px;
	color: @dark;
}

h1,h2,h3,h4{margin-top: 0;}

h2{
    font-size: 23px;
    font-weight: 400;
    line-height: 29px;
    padding: 0px 15px 0;
}

p{
    font-size: 14px;
    line-height: 18px;
}

// buttons
.button{
    background: lighten(@light,10%);
    border: 1px solid @gray;
    padding: 2px 12px;
    color: @dark;
    text-decoration: none;
    .rounded-corners(3px);
    -webkit-box-shadow: inset 0 1px 0 fadeout(@white, 50%), 0 1px 0 fadeout(@dark, 75%);
            box-shadow: inset 0 1px 0 fadeout(@white, 50%), 0 1px 0 fadeout(@dark, 75%);

    &:hover{background: @light;}
    &.button-primary{
        color: @white;
        background: lighten(@blue, 15%);
        border: 1px solid @blue;
        &:hover{background: lighten(@blue,10%);}
    }

    &.button-large{font-size: 120%;}
    &.button-xlarge{font-size: 150%;}
    &.button-small{font-size: 80%;}
}

// admin bar
#adminbar{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 32px;
    background: @dark;
    font: normal 13px/32px @text;
    color: @light;

    .leftmenu{
        margin: 0;
        padding: 0;
        list-style: none;

        &>li{
            float: left;
            margin: 0 8px 0 0;

            a{
                display: inline-block;
                padding: 0 10px;
                height: 32px;
                color: @light;
                font: 400 13px/32px @text;
                text-decoration: none;
                &:hover{
                    color: @white;
                    // background: @medium;
                    .ab-icon:before{color: @blue;}
                }
            }
            .ab-icon:before{
                position: relative;
                float: left;
                font: normal 20px/1 'dashicons' !important;
                speak: none;
                padding-top: 7px;
                -webkit-font-smoothing: antialiased;
                background-image: none !important;
                color: #999;
                margin-right: 6px;
            }
        }
    }

    #admin-user{
        float: right;
        display: inline-block;
        padding: 0 10px;
        height: 32px;
        color: @light;
        font: 400 13px/32px @text;
        text-decoration: none;
    }

    #wp-avatar{
        width: 16px;
        height: 16px;
        padding: 0;
        border: 1px solid #888;
        background: #eee;
        line-height: 24px;
        vertical-align: middle;
        margin: -4px 0 0 6px;
        float: none;
        display: inline;
    }
}

// body of content
#wpwrap{
    display: block;
    width: 100%;
    height: auto;
    min-height: 100%;
    position: relative;
    margin-top: 32px;

    #helper-links{
        position: relative;
        width: 100%;
        overflow: hidden;

        a{
            float: right;
            height: 23px;
            padding: 3px 6px;
            margin: 0 0 0 6px;
            font-family: @text;
            font-size: 13px;
            border: 1px solid #dedede;
            border-top: none;
            background: #fff;
            text-decoration: none;
            color: #777;
            -webkit-box-shadow: 0px 1px 1px -1px rgba(0,0,0,0.1);
            box-shadow: 0px 1px 1px -1px rgba(0,0,0,0.1);

            .dashicons{color: @gray;}
        }
    }
}

aside#wpbar{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 150px;
    // padding: 12px;
    background: @dark;
    color: @gray;
}

.adminmenu {
    margin: 0 0 5px 0;
    padding: 0;
    list-style: none;
    li a{
        display: block; 
        text-decoration: none;
        color: @light;
        .transition(all .1s ease-in-out);
        &:hover, &:hover .wp-menu-image{ 
            color: @blue; 
            background: #111;
        }

        .wp-menu-image{
            color: @gray;
        }
    }
}

.wp-menu-image{
    float: left;
    margin: 0;
    width: 34px;
    height: 30px;
    text-align: center;

    &:before{
        font: normal 20px/1 'dashicons';
        speak: none;
        height: 34px;
        width: 20px;
        padding: 8px 0;
        display: inline-block;
        -webkit-font-smoothing: antialiased;
        .transition(all .1s ease-in-out);
    }
}

.wp-menu-name{
    display: block;
    font-family: @text;
    font-weight: 400;
    padding: 8px 12px 8px 0;
}

aside#metabox{
    position: absolute;
    top: 70px;
    right: 20px;
    width: 280px;
}

.postbox{
    position: relative;
    min-width: 255px;
    margin-bottom: 20px;
    padding: 0;
    line-height: 1;
    border: 1px solid #dedede;
    background: @white;
    color: #555;
    -webkit-box-shadow: 0px 1px 1px -1px rgba(0,0,0,0.1);
    box-shadow: 0px 1px 1px -1px rgba(0,0,0,0.1);

    .hndle{
        font-size: 14px;
        padding: 7px 12px;
        margin: 0;
        line-height: 1.4;
        cursor: move;
        border-bottom: 1px solid @light;
    }
    .inside{
        font-size: 13px;
        line-height: 1.4em;
        padding: 0 12px 12px;
    }
}

#contentbox{
    width: 100%;
    padding: 0 320px 20px 170px;
    // margin: 10px 20px 0 2px;
}

#container{position: relative;}

// where the magic happens
#content{
    display: block;
    width: 100%;
    padding: 20px;
    border: 1px solid #dedede;
    color: #555;
    background-color: #fff;
    .box-shadow(inset 0 1px 2px rgba(0,0,0,0.07));

    .content-block{
        width: 100%;
        display: block;
        position: relative;
        border-bottom: 1px dashed @light;
        padding: 15px 5px;
        &:hover .ctrlbar{display: block;}

        .ctrlbar{
            position: absolute;
            display: none;
            padding: 5px;
            top: 0;
            right: 0;
            // background: @light;
        }

        .remove, .move{
            // position: absolute;
            // top: 0;
            color: @gray;
            &:hover{
                color: @dark;
            }
        }
        // .remove{right: 0;}
        .move{cursor:move;}
    }

    .blocks-placeholder{
        display: block;
        min-height: 50px;
        background: @light;
        border: 1px dashed @gray;
    }
    .ui-sortable-helper{
        border: 1px dashed @gray;
        background: @white;
        .opacity(90);
    }

    // the block editable area
    .wp-block{
        outline: none;
        min-height: 200px;
    }

    .title-image{font-size: 30px; width: 30px;}
}

// styles for each content block
.wp-image, .wp-gallery, .wp-audio, .wp-video{
    display: block;
    width: 100%;
    border: 2px dashed @gray;
    background: @light;
    text-align: center;

    h2{margin-top: 20px;}
}

.wp-code code{
    outline: none;
    color: @blue;
}

.input{
    width: 100%;
    font-size: 1.4rem;
    color: @gray;
    border: 1px dashed @gray;
    padding: 5px;
    outline: none;
}

#add-block{
    display: inline-block;
    padding: 10px 0;
    font-family: @text;
    font-size: 18px;
    color: @gray;
    text-decoration: none;
    &:hover{color: @dark;}
    .dashicons{
        font-size: 24px;
        width: 24px;
        margin-right: 6px;
    }
}

#post-title{
    padding: 3px 8px;
    font-size: 1.7em;
    line-height: 100%;
    width: 100%;
    outline: none;
    border: none;
    margin: 1px 0 5px 0;
}
#the-permalink{
    color: @gray;
    font-size: 12px;
    line-height: 100%;
    margin: 5px 0;

    .button{margin-left: 10px;}
}
#post-permalink{
    display: none;
    outline: none;
    border: 1px solid @light;
    color: @gray;    
}

#content-blocks{border-top: 1px dashed @light; margin: 0; padding: 0; list-style: none;}

#blocksSelect{
    position: absolute;
    bottom: -10px;
    left: 160px;
    z-index: 999;
    display: none;
    width: 370px;
    padding: 20px;
    background: @dark;
    color: @light;
    &.active{display: block;}

    .arrow-left{
        position: absolute;
        bottom: 15px;
        left: -15px;
        display: block;
        border-top: 15px solid transparent;
        border-bottom: 15px solid transparent;
        border-right: 15px solid @dark;
    }

    .customBlock{
        display: block;
        float: left;
        width: 100px;
        margin: 5px;
        padding: 10px;
        font-size: 14px;
        text-transform: uppercase;
        text-align: center;
        cursor: pointer;
        background: lighten(@dark,5%);
        &:hover{
            color: @blue; background: @black;
            .block-image {color: @blue;}
        }
        .block-image{
            color: @gray;
            display: block;
            width: 36px;
            height: 36px;
            margin: 0 auto 10px;
            &:before{font-size: 36px; margin: 0 auto;}
        }
    }
}

// modal styles
#modal-init{
    display: table;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 999;
    text-align: center;
    background: fadeout(#000, 50%);
}

#modal-content{
    display: inline-block;
    position: relative;
    vertical-align: middle;
    width: 500px;
    margin: 15% 0 0;
    padding: 30px;
    background: @white;
}
#modal-close{
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}